.form-container {
  text-align: center;
}

.form-container__header {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #7289da;
  color: white;
  font-family: Helvetica, sans-serif;
}

.form-container__header__title {
  font-size: 1.5em;
}

.form-container__step-tracker__wrapper {
  margin-bottom: 30px;
}

