.form__input {
  display: flex;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    border-color: #66afe9;
    outline: none;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
