.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: 0 40px;

  &__image {
    height: 50px;
    width: 50px;
  }

  &__text {
    font-family: 'open-sans', 'sans-serif';
    font-size: 30px;
    text-align: center;
  }
}